body{
    margin: 0;
    display: flex;
}

ul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 1px;
}

li{
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    margin-bottom: 1px;
}

.game_field{
    width: 75%;
    min-height: 969px;
    background-color: black;
    border: 5px solid green;
    box-sizing: border-box;
}

.current_field{
    text-align: center;
    background-color: black;
    color: cyan;
    border: 5px solid green;
}

.current_field p{
    font-size: 20px;
}

.inv_field{
    width: 25%;
    background-color: aqua;
}

.game{
    margin: 0 auto;
    height: 100%;
}

.game ul{
    display: block;
}

.game li{
    height: var(--element-height);
    width: var(--element-width);
    border-radius: 20%;
    border: 2px solid cyan;
    float: left;
}

.item_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item_list li{
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 1px solid black;
}

.item_list div{
    width: 100%;
    height: 100%;
    background-size: 100%;
}

.button{
    background-image: url("images/Button.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.symbols{
    background-image: url("images/Symbols1.png");
    transition: 1s;
    background-repeat: no-repeat;
    background-size: cover;
}

.green_button{
    background-image: url("images/GreenButton.png");
}

.blue_button{
    background-image: url("images/BlueButton.png");
}

.symbols_clicked{
    background-image: url("images/Symbols.png");
    transform: scale(0.5);
    position: absolute;
    left: 0;
    top: 0;
}

.active{
    background-color:brown;
}

.hidden{
    display: none;
}

.mover{
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 5px solid black;
}

.mover p{
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
}

.flex-mover{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0 auto;
}

.arrow_button{
    width: 100px;
    height: 100px;
    background-image: url("images/arrowLeft.png");
    background-size: 100%;
}

.left{
    background-image: url("images/arrowLeft.png");
}

.right{
    background-image: url("images/arrowRight.png");
}

.watershow{
    background-color: blue;
}

.platform{
    background-color: brown;
}

.buttonshow{
    background-color: gray;
}

.platform_button_show{
    background-color: white;
}

.green_platform_button_show{
    background-color: green;
}

.blue_platform_button_show{
    background-color: blue;
}